* {
    box-sizing: border-box;
}

body {
    background-color: #0a0a0a;
    color: #eeeeee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
}

.editing-screen {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    height: 90vh;
}

.editor {
    position: relative;
    border: 1px solid;
    overflow: hidden;

    .code,
    .highlighting {
        margin: 0;
        padding: 5px;
        border: 0;
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        overflow: auto;
        white-space: pre;

        outline: none;
    }

    .code {
        color: transparent;
        background-color: transparent;
        caret-color: white;
        z-index: 1;
        resize: none;
    }

    .highlighting {
        z-index: -1;
    }
}

.output,
.code,
.highlighting {
    font-size: 1.1em;
    font-family: monospace;
    line-height: 1.25;
}

.output {
    border: 1px solid;
    padding: 5px;
    overflow: auto;
    max-width: 100%;
    white-space: pre-wrap;

    .err {
        color: yellow;
        background-color: #ffff0010;

        .err {
            color: red;
            font-weight: bold;
            background-color: #ff000010;
        }
    }
}

.buttons {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;

    button {
        all: unset;
        border-radius: 3px;
        border: 1px solid;
        padding: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #303030;
    }
}

.suggestions {
    background-color: #000;
    border: 1px solid;
    padding: 4px;
    z-index: 2;
    font-family: monospace;
    border-radius: 3px;
    display: flex;
    flex-direction: column;

    div {
        border-bottom: 1px solid transparent;

        &.complete-target {
            background-color: #003000;
            font-weight: bold;
            border-bottom: 1px solid;
        }

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
}
