* {
    box-sizing: border-box;
}

body {
    background-color: #111111;
    color: #eeeeee;
}


.code {
    resize: vertical;
    background-color: inherit;
    color: inherit;
    width: 100%;
    height: 400px;
    font-family: monospace;
}

.output {
    border: 1px solid;
    padding: 5px;

    .err {
        color: yellow;
        background-color: #ffff0020;

        .err {
            color: red;
            font-weight: bold;
            background-color: #ff000020;
        }
    }
}
